@charset "UTF-8";

body {
    //background-color:  yellow;
    margin-top: 30px;
    margin-left: 50px;
}

.row {
    //background: #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-control {
    width: 250px;
}

#painel {
    //width: 400px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 0px;
}

h3 {
    margin-bottom: -30px;
}

#div_id {
    padding: 0px;
    margin-bottom: 15px;
    height: 50px;
    border-radius: 0px;
    border: 1px solid black;
    background: #F8F8FF;
}

h2 {
    margin-top: 8px;
}

.botao {
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
    height: 60px;
    background: #ddd;
}

.botao2 {
    //background: red;
    padding-left: 0px;
    padding-right: 0px;
}

#formulario1 {
    margin-top: 5px;
    
}

#formulario2 {
    margin-top: 5px;
}

#btnUm {
    width: 220px;
    margin-left: 20px;
    margin-right: 0px;
    border-radius: 0px;
    border: 1px solid black;
}

#del {
    width: 220px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0px;
    border: 1px solid black;
}

.img {
    margin-bottom: 20px;
}

th{
    text-align: center;
    
}

hr{
    height: 1px;
    border: 1px solid;
    
}

#botao {
    width: 160px;
    height: 60px;
    border: 1px solid;
    font-size: 30px; 
}